# Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized*

**Objectives**

- List popular languages for Data Science
- List popular Tools for Data Science
- start some arithmertic in jupyter notebook

### Some of the popular languages that Data Scientists use are:

1. Python
2. sql- Structured Query language
3. R

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy 
3. TensorFlow
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch

| Data Science Tools |
| ----------- | 
| R studio |
| jupyter Notebook |
| Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Emmanuel Yeboah